## Environment
NODE_ENV=development
VITE_HOST_URL=http://localhost:3020

## Pino Logger
LOG_LEVEL=info

## Database (LibSQL / Turso)
DATABASE_URL=file:local.db
DATABASE_AUTH_TOKEN=

## Better-Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=

## Google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

## Github
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

## Cloudflare Turnstile
VITE_TURNSTILE_SITE_KEY=
VITE_TURNSTILE_SECRET_KEY=

## Resend
RESEND_API_KEY=
RESEND_EMAIL=

## Seven.io
SEVEN_IO_API_KEY=

## Storage
S3_ENDPOINT=http://localhost:9000
S3_ACCESS_KEY=
S3_ACCESS_SECRET=
S3_REGION=
VITE_S3_PUBLIC_URL=http://localhost:9000/tasks
S3_BUCKET=tasks

## Mapbox
MAPBOX_ACCESS_TOKEN=

## RustFS
RUSTFS_ACCESS_KEY=
RUSTFS_SECRET_KEY=
RUSTFS_API_PORT=9000
RUSTFS_CONSOLE_PORT=9001